* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background: #0f172a;
    color: #f1f5f9;
}

/* Layout geral */
.layout {
    display: flex;
    height: 100vh;
}

/* Sidebar */
.sidebar {
    width: 240px;
    background: #1e293b;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
}

.sidebar .logo {
    margin-bottom: 40px;
    color: #38bdf8;
}

.sidebar nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sidebar nav a {
    text-decoration: none;
    color: #cbd5e1;
    padding: 10px;
    border-radius: 8px;
    transition: 0.3s;
}

.sidebar nav a:hover {
    background: #334155;
    color: white;
}

/* Conteúdo */
.content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Topbar */
.topbar {
    background: #1e293b;
    padding: 20px 30px;
    border-bottom: 1px solid #334155;
}

/* Área principal */
.main-content {
    padding: 40px;
    overflow-y: auto;
}

/* Card */
.card {
    background: #1e293b;
    padding: 30px;
    border-radius: 16px;
    width: 400px;
}

.card h2 {
    margin-bottom: 20px;
}

/* Inputs */
.input-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.input-group label {
    margin-bottom: 6px;
    font-size: 14px;
    color: #94a3b8;
}

.input-group input {
    padding: 10px;
    border-radius: 8px;
    border: none;
    background: #0f172a;
    color: white;
}

button {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background: #38bdf8;
    color: #0f172a;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #0ea5e9;
}

.titulo-dashboard {
    margin-bottom: 20px;
}

.cards {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.card {
    background: rgba(255, 255, 255, 0.258);
    padding: 20px;
    border-radius: 10px;
    width: 220px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
}

.card h3 {
    margin-bottom: 10px;
    font-size: 16px;
}

.numero {
    font-size: 28px;
    font-weight: bold;
}

.subtitulo {
    margin-bottom: 10px;
}

.tabela {
    width: 100%;
    background: rgba(255, 255, 255, 0.258);
    border-radius: 10px;
    overflow: hidden;
    border-collapse: collapse;
}

.tabela th,
.tabela td {
    padding: 12px;
    text-align: left;
}

.tabela th {
    background: rgba(255, 255, 255, 0.258);
}

.tabela tr:hover {
    background: rgba(255, 255, 255, 0.258);
}

.btn-excluir {
    background: #ff4d4d;
    color: white;
    padding: 6px 12px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 14px;
}

.btn-excluir:hover {
    background: #cc0000;
}

